<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quehora.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>32</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
				<key>dateExpires</key>
				<string>09/04/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFunctions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessagingInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.3.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>24.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>11.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mapbox_maps_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59FE30CB5CD770C5BB786D22083BEF54C8ABBAC1</string>
						<key>dateExpires</key>
						<string>09/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>vibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6V77UVN6U</string>
						<key>name</key>
						<string>Nicolas Brelle</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y6V77UVN6U.app.hoora</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Y6V77UVN6U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>02a5d773-f5ec-4f1f-828e-d4f613e6378a</string>
				<key>dateExpires</key>
				<string>09/04/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: app.hoora</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y6V77UVN6U</string>
				<key>name</key>
				<string>Nicolas Brelle</string>
			</dict>
			<key>versionNumber</key>
			<string>1.7.0</string>
		</dict>
	</array>
</dict>
</plist>
