<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041066486499-f33db4fta01p2c8i36q9ohsiqtvkfsit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041066486499-f33db4fta01p2c8i36q9ohsiqtvkfsit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041066486499-13v6pv5gpkcjbm711tjp0sd5r3mk0tkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAImNC-GQ9yYaOyy1qItbUgJIDbmDzAROY</string>
	<key>GCM_SENDER_ID</key>
	<string>1041066486499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hoora</string>
	<key>PROJECT_ID</key>
	<string>hoora-fb944</string>
	<key>STORAGE_BUCKET</key>
	<string>hoora-fb944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041066486499:ios:4b69bc5f4f62a93b3133d6</string>
</dict>
</plist>