<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272282529253-g8ih8lr94hd7de86fkgi98r4o9o6hk7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272282529253-g8ih8lr94hd7de86fkgi98r4o9o6hk7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDyUfapAyLBc7XQCiphZr1OxE1HFCJMnOw</string>
	<key>GCM_SENDER_ID</key>
	<string>272282529253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hoora.staging</string>
	<key>PROJECT_ID</key>
	<string>hoora-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>hoora-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272282529253:ios:abc10b7d6feeae9291130c</string>
</dict>
</plist>